img {
    width: 650px;
    margin: 25px;
}

.form-control {
    margin: 15px;
}

html {
    background-color: cadetblue;
    box-sizing: border-box;
}

.wrapper {
    text-align: center;
    background-color: cornflowerblue;
}
.content {
    text-align: center;
    margin: 20px;
}

.innerbox {
    display: inline-block;
    width: 33,3% ;
    margin: 180px;
    border:solid black 2px;
    padding: 70px;
    background-color: darkslategray;
}

.details {
    display: inline-block;
    width: 28%;
    padding: 30px;
    margin: 10px;
}
.details img {
    width:380px ;
}

#backToNav {
    width: 100px;
    margin: 0;
}

.inner {
    text-align: left;
}

fieldset {
    border:solid black
}

.inputDiv {
    margin: 5px;
}

/*navbar */
.menu {
    background-color: #333;
    color: cornsilk;
    justify-content: space-between;
    display: flex;
}

.links {
    display: inline-block;
    font-weight: bolder;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

/*Footer*/
.footer {
    background-color: black;
    justify-content: space-between;
    display: flex;
}

.footerLinks li a {
    text-decoration: none;
    color: white;
}

/* Inputs*/
.inputDiv input {
    display: block;
    margin-bottom: 5px;
}

.inputDiv textarea {
    display: block;
    margin-bottom: 5px;
}

.inputDiv button {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}